# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Build
build/
dist/
*.spec

# IDEs
.vscode/
.idea/

# Logs
*.log

# Compressed
*.rar
*.zip

# Specific to this project
src.rar
deployment/dist/
deployment/build/

# Exceptions (Allow these zips)
!landing_page/downloads/*.zip

# Node
node_modules/
